In [1]:
import pandas as pd
from sqlalchemy import create_engine
file_name = "oscars.csv"
df = pd.read_csv("oscars.csv")
df

,year_film,year_ceremony,ceremony,Category,gender,name,Race,film,winner
0,1927,1928,1,Best Actor,Male,Emil Jannings,White,The Last Command,True
1,1927,1928,1,Best Actress,Female,Janet Gaynor,White,7th Heaven,True
2,1928,1929,2,Best Actor,Male,Warner Baxter,White,In Old Arizona,True
3,1928,1929,2,Best Actress,Female,Mary Pickford,White,Coquette,True
4,1929,1930,3,Best Actor,Male,George Arliss,White,Disraeli,True
...,...,...,...,...,...,...,...,...,...
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Female,Geena Davis,White,NaN,True
10392,2019,2020,92,HONORARY AWARD,Male,David Lynch,White,NaN,True
10393,2019,2020,92,HONORARY AWARD,Male,Wes Studi,White,NaN,True
10394,2019,2020,92,HONORARY AWARD,Female,Lina Wertmuller,White,NaN,True
10395,1992,1993,65,COSTUME DESIGN,Female,Ruth E. Carter,Black,Malcom X,False

In [2]:
#drop colum 2 
new_df = df.drop(columns=['year_ceremony','ceremony', 'Race', 'gender', 'name'])
new_df

       year_film                          Category              film  winner
0           1927                        Best Actor  The Last Command    True
1           1927                      Best Actress        7th Heaven    True
2           1928                        Best Actor    In Old Arizona    True
3           1928                      Best Actress          Coquette    True
4           1929                        Best Actor          Disraeli    True
...          ...                               ...               ...     ...
10391       2019  JEAN HERSHOLT HUMANITARIAN AWARD               NaN    True
10392       2019                    HONORARY AWARD               NaN    True
10393       2019                    HONORARY AWARD               NaN    True
10394       2019                    HONORARY AWARD               NaN    True
10395       1992                    COSTUME DESIGN          Malcom X   False

[10396 rows x 4 columns]

In [3]:
new_df = new_df.rename(columns={"film":"title","year_film":"year","Category":"category"})
new_df

       year                          category             title  winner
0      1927                        Best Actor  The Last Command    True
1      1927                      Best Actress        7th Heaven    True
2      1928                        Best Actor    In Old Arizona    True
3      1928                      Best Actress          Coquette    True
4      1929                        Best Actor          Disraeli    True
...     ...                               ...               ...     ...
10391  2019  JEAN HERSHOLT HUMANITARIAN AWARD               NaN    True
10392  2019                    HONORARY AWARD               NaN    True
10393  2019                    HONORARY AWARD               NaN    True
10394  2019                    HONORARY AWARD               NaN    True
10395  1992                    COSTUME DESIGN          Malcom X   False

[10396 rows x 4 columns]

In [4]:
# lowercase Category column 
new_df['category'] = new_df['category'].str.capitalize()

new_df['category'].unique()

array(['Best actor', 'Best actress', 'Best actor in supporting role',
       'Actress in a supporting role', 'Production design',
       'Cinematography', 'Directing (comedy picture)',
       'Directing (dramatic picture)', 'Engineering effects',
       'Best picture', 'Unique and artistic picture',
       'Writing (adapted screenplay)', 'Writing (original story)',
       'Writing (title writing)', 'Special award', 'Directing',
       'Sound recording', 'Short subject (cartoon)',
       'Short subject (comedy)', 'Short subject (novelty)',
       'Assistant director', 'Film editing', 'Music (scoring)',
       'Music (song)', 'Dance direction', 'Short subject (color)',
       'Short subject (one-reel)', 'Short subject (two-reel)',
       'Irving g. thalberg memorial award', 'Music (original score)',
       'Special effects', 'Art direction (black-and-white)',
       'Art direction (color)', 'Writing (original screenplay)',
       'Documentary (short subject)',
       'Music (music score of a dramatic picture)',
       'Music (scoring of a musical picture)', 'Documentary',
       'Music (music score of a dramatic or comedy picture)',
       'Writing (original motion picture story)', 'Documentary (feature)',
       'Writing (motion picture story)',
       'Costume design (black-and-white)', 'Costume design (color)',
       'Special foreign language film award',
       'Writing (story and screenplay)',
       'Honorary foreign language film award', 'Honorary award',
       'Foreign language film', 'Writing (screenplay--original)',
       'Jean hersholt humanitarian award', 'Costume design',
       'Short subject (live action)',
       'Writing (story and screenplay--written directly for the screen)',
       'Sound', 'Music (music score--substantially original)',
       'Music (scoring of music--adaptation or treatment)',
       'Sound effects', 'Special visual effects',
       'Music (original music score)',
       'Music (original score--for a motion picture [not a musical])',
       'Music (score of a musical picture--original or adaptation)',
       'Music (song--original for the picture)',
       'Writing (story and screenplay--based on material not previously published or produced)',
       'Music (original song score)',
       'Writing (story and screenplay--based on factual material or material not previously published or produced)',
       'Music (original dramatic score)',
       'Music (scoring: adaptation and original song score)',
       'Short subject (animated)',
       'Special achievement award (visual effects)',
       'Music (scoring: original song score and adaptation -or- scoring: adaptation)',
       'Short film (animated)', 'Short film (live action)',
       'Music (original song)',
       'Special achievement award (sound effects)',
       'Music (original song score and its adaptation or adaptation score)',
       'Writing (screenplay written directly for the screen--based on factual material or on story material not previously published or produced)',
       'Visual effects', 'Special achievement award',
       'Special achievement award (sound effects editing)',
       'Music (adaptation score)',
       'Writing (screenplay written directly for the screen)',
       'Music (original song score and its adaptation -or- adaptation score)',
       'Special achievement award (sound editing)',
       'Short film (dramatic live action)', 'Makeup',
       'Sound effects editing',
       'Music (original song score or adaptation score)',
       'Music (original musical or comedy score)', 'Sound editing',
       'Animated feature film', 'Sound mixing', 'Makeup and hairstyling',
       'International feature film'], dtype=object)

In [5]:
new_df = new_df.dropna(subset=["title"],how="any")

In [6]:
new_df = new_df.drop_duplicates(subset=["title"],keep="first")

In [7]:
# Database Setup
username = 'postgres'
password = 'postgres'

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/movies_ETL')
rds_connection_string ="postgres:postgres@localhost:5432/movies_ETL"

In [8]:
new_df.to_sql(name="oscars", con=engine, if_exists= "append", index=False)